In [1]:
from urllib.request import Request

from jobapplier.api_requests import fetch_database_jsons, add_block, \
    add_cover_letters
from jobapplier.constants import (URL_TEST_DATABASE, API_HEADERS,
                                  URL_JOB_TRACKER_2_DATABASE, OPENAI_KEY)
from jobapplier.cover_letter import build_letter
from jobapplier.data_preprocessing import build_dataframe
import os
from requests import Response
from openai import OpenAI
import requests
import json

In [2]:
if os.getcwd().split('/')[-1] == 'notebooks':
    os.chdir('..')

%load_ext autoreload
%autoreload 2

In [8]:
text = "Govno"
block_id = '209d972b-0f6d-8144-9d50-fbd0d5ae094f'

response = add_block(text=text, block_id=block_id, headers=API_HEADERS, block_type='paragraph')

In [20]:
responses = add_cover_letters(database_url=URL_TEST_DATABASE, headers=API_HEADERS, block_type='paragraph')

In [ ]:
list(map(lambda x: x.content, responses))

In [15]:
results = fetch_database_jsons(url=URL_JOB_TRACKER_2_DATABASE, headers=API_HEADERS)
df_jobs = build_dataframe(results)

In [16]:
columns = ['job_title', 'company', 'date_applied', 'origin', 'stage']

In [20]:
title = 'Coface'
df_jobs.loc[df_jobs['company'].map(lambda x: title in x), columns]

,job_title,company,date_applied,origin,stage
1,Data Risk Analyst / Scientist,Coface,2025-09-15,Welcome To The Jungle,Application Sent
200,Data Scientist / ML Engineer,Coface,2025-06-02,Welcome To The Jungle,Rejection