In [1]:
from urllib.request import Request

from jobapplier.api_requests import fetch_database_jsons, add_block, \
    add_cover_letters, assign_positions
from jobapplier.constants import (URL_TEST_DATABASE, API_HEADERS,
                                  URL_JOB_TRACKER_2_DATABASE, OPENAI_KEY)
from jobapplier.cover_letter import build_letter
from jobapplier.data_preprocessing import build_dataframe, map_dict
import os
from requests import Response
from openai import OpenAI
import requests
import json

In [2]:
if os.getcwd().split('/')[-1] == 'notebooks':
    os.chdir('..')

%load_ext autoreload
%autoreload 2

In [3]:
text = "Govno"
block_id = '209d972b-0f6d-8144-9d50-fbd0d5ae094f'

response = add_block(text=text, block_id=block_id, headers=API_HEADERS, block_type='paragraph')

In [4]:
results = fetch_database_jsons(url=URL_JOB_TRACKER_2_DATABASE, headers=API_HEADERS)
df_jobs = build_dataframe(results)

In [5]:
results_mapped = list(map(map_dict, results))

In [6]:
search_response = requests.post(url=URL_JOB_TRACKER_2_DATABASE, headers=API_HEADERS)

In [50]:
all_pages = fetch_database_jsons(url=URL_JOB_TRACKER_2_DATABASE, headers=API_HEADERS)
df_jobs = build_dataframe(all_pages)

In [53]:
df_jobs[df_jobs['stage'].isna()].sort_values(by='position', ascending=False)

,page_id,job_title,company,language,date_applied,origin,stage,job_description,cover_letter,position
2,278d972b-0f6d-80c7-b809-c9a9d53f01d3,Data Yaitsa,None,None,None,None,None,None,None,244
1,278d972b-0f6d-8019-90de-ea485301801a,Data KAL,None,None,None,None,None,None,None,243
3,278d972b-0f6d-80fd-b5af-cb8543d4be36,Data HUI,None,None,None,None,None,None,None,242
0,278d972b-0f6d-8002-9db7-ec15f2f38c0e,Data Bomj,None,None,None,None,None,None,None,241